<main class="container">
    <span class="label">Vamos começar!</span>

    <header id="quiz-header" class="header">
        <h1 class="title-secondary">Teste de Matemática I</h1>
        <p class="description">Algumas perguntas conceituais para você testar seus conhecimentos em matemática.</p>
    </header>

    <div id="quiz-app" class="content"></div>

    <footer id="controls" class="footer margin-top-lg clear">
      <button id="go-init" class="btn">Começar teste</button>
      <button id="go-prev" class="btn p-left is-hidden">Voltar</button>
      <button id="go-next" class="btn p-right is-hidden">Avançar</button>
    </footer>
</main>
